html {
  scroll-behavior: smooth;
}


body {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Montserrat" !important;
  background-color: #f3f6ff !important;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  color: #4958b0;
}

h3 {
  font-weight: 600;
}

p {
  font-size: 15px;
  line-height: 1.7;
  filter: opacity(80%);
}

.neon_glow,
.navbar-brand {
  /* color: black; */
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
  }
  100% {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
  }
}

.container {
  padding: 2% 0%;
}

.row {
  padding-top: 7%;
  padding-left: 1.5%;
}

.header-image {
  max-width: min-content;
}

.header-image:hover {
  transition: 0.4s ease-in-out;
  box-shadow: rgba(139, 134, 134, 0.4) 0px 30px 90px;
}

.profession {
  color: #4958b0;
  text-transform: capitalize;
  font-weight: 600;
}

.see-arrow {
  transform: rotate(91deg);
  margin-left: 20px;
}

img {
  object-fit: cover;
}

/* Navigation Bar */
.nav-item {
  padding: 0px 18px;
}

.navbar-nav {
  padding-right: 5%;
}

.navbar-brand {
  font-weight: 600;
  font-size: 2rem !important;
}

.navbar-brand:hover {
  color: #4958b0 !important;
  transform: scale(1.1);
  transition: 0.4s ease-in;
}

.nav-link:hover {
  transition: 0.4s ease-in-out;
  background-color: #4958b0;
  color: white !important;
}


/* Skills */
#skills {
  margin: auto;
  text-align: center;
  padding: 5%;
  font-weight: 400;
  max-width: 1140px;
}

.skill-set {
  padding: 1% 10%;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
  transition: all linear 0.3s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transition-property: all;
}

.skill-set:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.skill-set:hover img {
  transform: scale(0.9);
}

.skill-set img {
  height: 70px;
  margin-bottom: 5%;
}

hr {
  color: grey;
  width: auto;
}

/* Guaranties */
#guaranties {
  padding: 5% 5%;
  text-align: center;
  font-weight: 400;
  max-width: 1140px;
  margin: auto;
}

.g-set {
  padding: 3% 70px 0;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.g-set:hover {
  transform: scale(1.07);
  z-index: 1;
  transition: 0.3s ease;
}

.g-img {
  margin-bottom: 10%;
}

/* Parcours Scolaire */

#parcours_sco {
  padding: 5% 5%;
  font-weight: 400;
  max-width: 1140px;
  margin: auto;
}

#parcours_sco h2 {
  text-align: center;
}

.parcours_wrapper div {
  margin: 3% 0%;
}

.cursus_title h4 {
  display: inline-block;
  line-height: 1.6;
}
.school {
  font-size: 0.7em;
  opacity: 0.8;
  margin-bottom: 20px !important;
}

.school_year {
  font-size: 15px;
  padding: 8px 20px;
  background-color: #efe1d1;
  border-radius: 30px;
  margin-bottom: 20px;
}

.fa-graduation-cap {
  margin-right: 3%;
}

.formation_card {
  padding: 7%;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.formation_card:hover {
  transition: 0.2s ease-in;
  background-color: #3f2e3e;
  color: #fff;
}

.formation_card:hover .school_year {
  transition: ease-in;
  background-color: #a78295;
}

/* Projects */
#projects {
  text-align: center !important;
  padding: 5% 5%;
  font-weight: 500;
  margin: auto;
  max-width: 1140px;
  justify-content: center !important;
}

.card-title {
  background-color: #efe1d1;
}
.card:hover {
  transform: scale(1.07);
  transition: 0.3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* Contact Me */
#contact {
  text-align: center;
  padding: 5% 5%;
  font-weight: 400;
  max-width: 1140px;
  margin: auto;
}

.contact-box {
  height: fit-content;
  width: 355px;
  margin: auto;
  margin-top: 5% !important;
  border-radius: 5%;
}

#contact h3 {
  color: #222831;
  padding: 5% 0 3%;
}

form input {
  width: 63%;
  margin: 7% 0 0 2%;
  border: none;
  border-bottom: 1px solid rgb(65, 63, 63);
  background-color: inherit;
}

textarea {
  margin: 7% 0 5% 5% !important;
  border: none;
  border-bottom: 1px solid rgb(65, 63, 63);
  background-color: inherit;
  resize: none !important;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1.5px solid #007bff;
}

form button {
  font-size: 14px;
  margin-bottom: 4%;
  padding: 3%;
  text-transform: uppercase;
}

/* About Me */

#aboutme {
  text-align: center;
  padding: 7% 5%;
  font-weight: 400;
  max-width: 1140px;
  margin: auto;
}

.me-text {
  padding-top: 35px;
}

/* Footer */
#footer {
  text-align: center;
  padding: 1% 5%;
  font-weight: 400;
  background-color: #f9fcfb;
  max-width: 1140px;
  margin: auto;
}

.footer-icon {
  margin: 0px 15px 25px;
  padding: 7px;
}

.footer-icon:hover {
  transform: scale(1.5);
  background-color: #efe1d1;
  border-radius: 30px;
  transition: 0.3s ease;
}

.social-medias a {
  color: inherit;
}

.business_account {
  color: #4958b0;
}

.copyright {
  margin-top: 10%;
}

.top {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  background: #000;
  border-radius: 80px;
  margin-left: 90%;
}

@media (width >= 576px) {
  .header-bloc {
    width: 35%;
    text-align: center;
    line-height: 1.5;
  }

  .profession {
    margin-top: 8%;
    font-size: 30px;
    width: unset;
  }
}

@media (width < 460px) {
  section {

    padding: 10%;

  }

  h1 {
    font-size: 1.5rem !important;
  }

  h2 {
    font-size: 1.4rem !important;
  }

  h4, #contact h3  {
    font-size: 1.1rem !important;
  }

  p {
    font-size: 13px;
  }

  .header-bloc {
    width: 35%;
    text-align: center;
    line-height: 1.5;
  }

  

  .profession {
    margin-top: 8%;
    font-size: 20px;
  }

  .skill-set {
    padding-top: 5%;
  }

  .skill-set h5 {
    font-size: 12px;
  }

  .skill-set-mobile {
    padding: 60px;
  }

  
.g-img {
  height: 70px;
  width: 70px;
}

.social-medias {
  font-size: small;
}
}

